<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper >> interface 매핑 : id 값 중요 (interface 메소드) -->
<mapper namespace="com.actas.cmob.Mapper.themoon.TheMoonDBMapper">

    <select id="GetUserInfo" parameterType="com.actas.cmob.DTO.UserFormDto"  resultType="com.actas.cmob.DTO.UserFormDto">
        select top 1 userid, passwd1,  custnm, pernm, useyn, perid, custcd
        from TB_XUSERS where userid=#{userid} and passwd1=#{passwd1} and useyn = '1'
    </select>
    <select id="GetTBDA035List" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto"  resultType="com.actas.cmob.DTO.Kosep.KosepList01Dto">
        select  A.custcd AS custcd, A.spjangcd as spjangcd, B.cltcd as cltcd,
                substring(A.fdeldate, 5,2) + '/' + substring(A.fdeldate, 7,2) as fdeldatetext, A.fdeldate  as fdeldate,
                A.fdelnum as fdelnum, A.fdelseq as fdelseq, isnull(A.pcode,'') as pcode, isnull(D.phm_pnam,'') as pname,
                isnull(A.grade,'') as grade, isnull(A.width,0) as width, isnull(A.thick,0) as thick,
                isnull(A.color,'') as color, isnull(A.deldate,'') as deldate, isnull(A.delnum,'') as delnum,
                isnull(A.delseq,'') as delseq,  isnull(A.qty,0) as qty, isnull(A.uamt,0) as uamt, isnull(C.cltnm,'') as cltnm
        from TB_DA035 A WITH (NOLOCK) , TB_DA034 B WITH (NOLOCK) , TB_XCLIENT C WITH (NOLOCK) , TB_CA501 D WITH (NOLOCK)
        where A.spjangcd = B.spjangcd and A.fdeldate = B.fdeldate and A.fdelnum=B.fdelnum
           AND B.cltcd = C.cltcd and A.pcode = D.phm_pcod and  A.fdeldate = #{todate} and ( Len(isnull(A.deldate , '')) = 0)
    </select>
    <select id="GetTBDA035ChulList" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto"  resultType="com.actas.cmob.DTO.Kosep.KosepList01Dto">
        select  A.custcd AS custcd, A.spjangcd as spjangcd, B.cltcd as cltcd,
                substring(A.fdeldate, 5,2) + '/' + substring(A.fdeldate, 7,2) as fdeldatetext, A.fdeldate  as fdeldate,
                A.fdelnum as fdelnum, A.fdelseq as fdelseq, isnull(A.pcode,'') as pcode, isnull(D.phm_pnam,'') as pname,
                isnull(A.grade,'') as grade, isnull(A.width,0) as width, isnull(A.thick,0) as thick,
                isnull(A.color,'') as color, isnull(E.deldate,'') as deldate, isnull(E.delnum,'') as delnum,
                isnull(E.seq,'') as delseq,  isnull(A.qty,0) as qty, isnull(C.cltnm,'') as cltnm, E.lotno as lotno
        from TB_DA035 A WITH (NOLOCK) , TB_DA034 B WITH (NOLOCK) , TB_XCLIENT C WITH (NOLOCK) , TB_CA501 D WITH (NOLOCK), TB_DA037H E WITH (NOLOCK)
        where A.spjangcd = B.spjangcd and A.fdeldate = B.fdeldate and A.fdelnum=B.fdelnum
          AND B.cltcd = C.cltcd and A.pcode = D.phm_pcod and A.deldate + A.delnum   = E.deldate + E.delnum
          AND A.deldate = #{todate} and ( Len(isnull(A.deldate , '')) > 0)
          ORDER BY E.deldate, E.delnum, E.seq
    </select>

    <!--<select id="GetTBDA037ChulList" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto"  resultType="com.actas.cmob.DTO.Kosep.KosepList01Dto">
        select  A.custcd AS custcd, A.spjangcd as spjangcd, B.cltcd as cltcd,
                substring(A.deldate, 5,2) + '/' + substring(A.deldate, 7,2) as fdeldatetext, A.deldate  as deldate,
                A.delnum as delnum, A.delseq as delseq, isnull(A.pcode,'') as pcode, isnull(D.phm_pnam,'') as pname, isnull(D.phm_size,'') as psize,
                isnull(A.qty,0) as qty, isnull(A.uamt,0) as uamt, isnull(A.samt,0) as samt,  isnull(C.cltnm,'') as cltnm
        from TB_DA037 A WITH (NOLOCK) , TB_DA036 B WITH (NOLOCK) , TB_XCLIENT C WITH (NOLOCK) , TB_CA501 D WITH (NOLOCK)
        where A.spjangcd = B.spjangcd and A.deldate = B.deldate and A.delnum=B.delnum
          AND B.cltcd = C.cltcd and A.pcode = D.phm_pcod
          AND A.deldate = #{todate}
          AND A.deldate + A.delnum in (select deldate + delnum from tb_da035 where deldate = #{todate} )
        ORDER BY A.deldate, A.delnum, A.delseq
    </select>-->


    <select id="GetLotNoData" parameterType="hashmap"  resultType="com.actas.cmob.DTO.Kosep.KosepDa037Dto">
        select A.cltcd as cltcd, A.custcd AS custcd, A.spjangcd as spjangcd, '' as deldate, '' as delnum, A.pcode as  pcode,
        A.pname as pname, A.psize as psize, A.punit as punit, sum(A.qty) as qty, 0 as cuamt, 0 as uamt, sum(A.samt) as samt,
        sum(A.tamt) as tamt, sum(A.mamt) as mamt, '0' as taxflag, 'KRW' as moncls, 1 as monrate, sum(A.lotqty) as lotqty, '' as indate,
        '' as inperid
        FROM (
            select A.delcltcd as cltcd, A.custcd AS custcd, A.spjangcd as spjangcd, '' as deldate, '' as delnum, A.pcode as
                    pcode, B.phm_pnam as pname, B.phm_size as psize,
                    B.phm_unit as punit, 0 as qty, 0 as cuamt, 0 as uamt, 0 as samt, 0 as
                    tamt,  0 as mamt, '0' as taxflag, 'KRW' as moncls, 1 as monrate, 0 as lotqty, '' as
                    indate, '' as inperid
            from TB_DA006_IMPORT_PANNEL A WITH (NOLOCK)
            Left OUTER JOIN TB_CA501 B ON pcode=B.phm_pcod
            where A.itemcd in
                <foreach collection="itemcdArr" item="itemcd" open="(" close=")" separator=",">
                  #{itemcd}
                </foreach>
                and A.color = #{color} and A.grade = #{grade} and A.thick = #{thick}
                and A.width = #{width} and Len(isnull(A.deldate,'')) = 0
            union all
            select A. delcltcd as cltcd, A.custcd AS custcd, A.spjangcd as spjangcd, '' as deldate, '' as delnum, A.pcode as
                pcode, B.phm_pnam as pname, B.phm_size as psize,
                B.phm_unit as punit, 0 as qty, 0 as cuamt, 0 as uamt, 0 as samt, 0 as tamt, 0 as mamt, '0' as taxflag, 'KRW' as moncls,
                1 as monrate, 0 as lotqty, '' as indate, '' as inperid
            from TB_DA006_IMPORT_WINGBADY A WITH (NOLOCK)
            Left OUTER JOIN TB_CA501 B ON pcode=B.phm_pcod
            where A.itemcd in
                <foreach collection="itemcdArr" item="itemcd"  open="(" close=")" separator=",">
                  #{itemcd}
                </foreach>
                and A.color = #{color} and A.grade = #{grade} and A.thick = #{thick}
                and A.width = #{width} and Len(isnull(A.deldate,'')) = 0
        ) A
        GROUP BY A.cltcd, A.custcd, A.spjangcd, A.pcode, A.pname, A.psize, A.punit

    </select>

    <select id="GetLotNoList" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto"  resultType="com.actas.cmob.DTO.Kosep.KosepDa037Dto">
        select A.delcltcd as cltcd,  A.custcd AS custcd, A.spjangcd as spjangcd, '' as deldate, '' as delnum, A.pcode as pcode, B.phm_pnam as pname, B.phm_size as psize,
                B.phm_unit as punit,  A.delcqty as qty, 0 as cuamt,  A.deluamt as uamt,  A.delsamt as samt, (A.delsamt * 0.1) as tamt,
                 A.delsamt + (A.delsamt * 0.1) as mamt, '0' as taxflag, 'KRW' as moncls, 1 as monrate, A.coilqty as coilqty, '' as indate, '' as inperid
        from TB_DA006_IMPORT_PANNEL A WITH (NOLOCK)
            Left OUTER JOIN TB_CA501 B ON pcode=B.phm_pcod
        where A.itemcd = #{lotno}
          and A.color = #{color} and A.grade = #{grade} and A.thick = #{thick}
          and A.width = #{width} and Len(isnull(A.deldate,'')) = 0

        union all


        select  A.delcltcd as cltcd, A.custcd AS custcd, A.spjangcd as spjangcd, '' as deldate, '' as delnum, A.pcode as pcode, B.phm_pnam as pname, B.phm_size as psize,
                 B.phm_unit as punit,  A.deljqty as qty, 0 as cuamt,  A.deluamt as uamt,  A.delsamt as samt, (A.delsamt * 0.1) as tamt,
                 A.delsamt + (A.delsamt * 0.1) as mamt, '0' as taxflag, 'KRW' as moncls, 1 as monrate, A.coilqty as coilqty, '' as indate, '' as inperid
        from TB_DA006_IMPORT_WINGBADY A WITH (NOLOCK)
            Left OUTER JOIN TB_CA501 B ON pcode=B.phm_pcod
        where A.itemcd = #{lotno} and A.color = #{color} and A.grade = #{grade} and A.thick = #{thick}
          and A.width = #{width} and Len(isnull(A.deldate,'')) = 0
    </select>

    <select id="getDa036MaxSeq" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto"   resultType="java.lang.String">
        select max(delnum) from TB_DA036 where deldate = #{fdeldate}
    </select>


    <delete id="DeleteDA036" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto">
        delete from tb_da036
        where deldate = #{deldate} and delnum = #{delnum}
          and deldate + delnum not in (select deldate + delnum from tb_da037 where deldate = #{deldate} and delnum=#{delnum} )
    </delete>

    <delete id="DeleteDA037" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto">
        delete from tb_da037
        where deldate = #{deldate} and delnum=#{delnum} and delseq=#{delseq}
        <!-- and deldate + delnum not in (select deldate + delnum from tb_da037H where deldate = #{deldate} and delnum=#{delnum}   )  -->
    </delete>

    <delete id="DeleteDA037H" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto">
        delete from tb_da037H where deldate = #{deldate} and delnum=#{delnum} and lotno =#{lotno}
    </delete>

    <!--<update id="DeleteDA035" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto">
        update tb_da035 set deldate = null, delnum = null, delseq =null
        where deldate = #{deldate} and delnum=#{delnum}
         and deldate + delnum not in (select deldate + delnum from tb_da037 where deldate = #{deldate} and delnum=#{delnum} )
    </update>-->


    <update id="DeleteDA006PAN" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto">
        update TB_DA006_IMPORT_PANNEL set deldate = null, delnum = null, delseq =null   where deldate = #{deldate} and delnum=#{delnum} and delseq =#{delseq}
    </update>


    <update id="DeleteDA006WIN" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto">
        update TB_DA006_IMPORT_WINGBADY set deldate = null, delnum = null, delseq =null  where deldate = #{deldate} and delnum=#{delnum} and delseq =#{delseq}
    </update>

    <insert id="InsertDA036" parameterType="com.actas.cmob.DTO.Kosep.KosepDa036Dto" >
        insert into tb_da036 (custcd, spjangcd, deldate, delnum, deltype, cltcd, perid, taxcls,setcls, store, domcls, moncls, monrate, sunamt, sunflag,inperid,
                              taxflag, selflag, reqdate, mcltdv, banflag, ppgun, pagrb, indate, grpflag) values
            (#{custcd}, #{spjangcd},  #{deldate}, #{delnum}, #{deltype}, #{cltcd}, #{perid}, #{taxcls},#{setcls}, #{store}, #{domcls}, #{moncls}, #{monrate}, #{sunamt}, #{sunflag}, #{inperid},
             #{taxflag},#{selflag},#{reqdate},#{mcltdv},#{banflag},#{ppgun},#{pagrb},#{indate},#{grpflag})
    </insert>

    <sql id="da037Columns">
           custcd
          ,spjangcd
          ,deldate
          ,delnum
          ,delseq
          ,pcode
          ,pname
          ,psize
          ,punit
          ,qty
          ,cuamt
          ,uamt
          ,samt
          ,tamt
          ,mamt
          ,taxflag
          ,moncls
          ,monrate
          ,lotqty
          ,indate
          ,inperid
    </sql>


    <sql id="da037HColumns">
        custcd
        ,spjangcd
          ,deldate
          ,delnum
          ,seq
          ,store
          ,pcode
          ,lotno
          ,qty
          ,uamt
    </sql>

    <insert id="InsertDa037" parameterType="com.actas.cmob.DTO.Kosep.KosepDa037Dto" >

        insert into tb_da037 (custcd, spjangcd, deldate, delnum, delseq, pcode, qty, cuamt, uamt, samt, tamt, mamt, lotqty, indate,inperid) values
        (#{custcd}, #{spjangcd},  #{deldate}, #{delnum}, #{delseq}, #{pcode}, #{qty}, 0, #{uamt}, #{samt}, #{tamt}, #{mamt}, 0, #{indate}, #{inperid})

<!--        INSERT INTO tb_da037 (-->
<!--        <include refid="da037Columns" />-->
<!--        ) VALUES-->
<!--        <foreach collection="list" item="item" separator=",">-->
<!--            (-->
<!--             #{item.custcd}-->
<!--            ,#{item.spjangcd}-->
<!--            ,#{item.deldate}-->
<!--            ,#{item.delnum}-->
<!--            ,#{item.delseq}-->
<!--            ,#{item.pcode}-->
<!--            ,#{item.pname}-->
<!--            ,#{item.psize}-->
<!--            ,#{item.punit}-->
<!--            ,#{item.qty}-->
<!--            ,#{item.cuamt}-->
<!--            ,#{item.uamt}-->
<!--            ,#{item.samt}-->
<!--            ,#{item.tamt}-->
<!--            ,#{item.mamt}-->
<!--            ,#{item.taxflag}-->
<!--            ,#{item.moncls}-->
<!--            ,#{item.monrate}-->
<!--            ,#{item.lotqty}-->
<!--            ,#{item.indate}-->
<!--            ,#{item.inperid}-->
<!--            )-->
<!--        </foreach>-->

    </insert>

    <insert id="InsertDa037H" parameterType="com.actas.cmob.DTO.Kosep.KosepDa037HDto" >
        insert into tb_da037h (custcd, spjangcd, deldate, delnum, seq, store, pcode, lotno, qty, uamt) values
        (#{custcd}, #{spjangcd},  #{deldate}, #{delnum}, #{seq}, #{store}, #{pcode}, #{lotno}, #{qty}, #{uamt})

<!--        INSERT INTO tb_da037H (-->
<!--        <include refid="da037HColumns" />-->
<!--        ) VALUES-->
<!--        <foreach collection="list" item="item" separator=",">-->
<!--            (-->
<!--            #{item.custcd}-->
<!--            ,#{item.spjangcd}-->
<!--            ,#{item.deldate}-->
<!--            ,#{item.delnum}-->
<!--            ,#{item.seq}-->
<!--            ,#{item.store}-->
<!--            ,#{item.pcode}-->
<!--            ,#{item.lotno}-->
<!--            ,#{item.qty}-->
<!--            ,#{item.uamt}-->
<!--            )-->
<!--        </foreach>-->

    </insert>


    <update id="UpdateTBda035" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto">
        update TB_DA035
        set spjangcd = 'ZZ'
        <if test="deldate != null ">,</if>
        <if test="deldate != null">deldate=#{deldate}</if>
        <if test="delnum != null ">,</if>
        <if test="delnum != null">delnum=#{delnum}</if>
        <if test="delseq != null ">,</if>
        <if test="delseq != null">delseq=#{delseq}</if>
        where  fdeldate = #{fdeldate} and fdelnum=#{fdelnum} and fdelseq=#{fdelseq}
    </update>


    <update id="UpdateDA006PANNEL" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto">
        update TB_DA006_IMPORT_PANNEL
        set deldate=#{deldate},
            delnum=#{delnum},
            delseq=#{delseq}
        where itemcd = #{lotno}
    </update>

    <update id="UpdateDA006WINGBADY" parameterType="com.actas.cmob.DTO.Kosep.KosepPopDto">
        update TB_DA006_IMPORT_WINGBADY
        set deldate=#{deldate},
            delnum=#{delnum},
            delseq=#{delseq}
        where itemcd = #{lotno}
    </update>

    <select id="LoginCount" parameterType="com.actas.cmob.DTO.Themoon.LoginLogDto" resultType="int">
        SELECT
            COUNT(*)
        FROM TB_XLOGIN WITH(NOLOCK)
        WHERE custcd = #{custcd} AND ipaddr = #{ipaddr} AND onoffdt = #{onoffdt} and userid = #{userid}

    </select>


    <insert id="InsertLog" parameterType="com.actas.cmob.DTO.Themoon.LoginLogDto" >
        insert into TB_XLOGIN (custcd, userid, ipaddr, onoffdt, custnm, usernm, ondate, ofdate, onoffdv) values
            (
                #{custcd}, #{userid}, #{ipaddr}, #{onoffdt}, #{custnm}, #{usernm}, GETDATE(), null, '0'
            )
    </insert>

    <update id="UpdateLog" parameterType="com.actas.cmob.DTO.Themoon.LoginLogDto">
        update TB_XLOGIN
        set ofdate=GETDATE(),
            onoffdv='1'
            where custcd = #{custcd} AND userid = #{userid} AND onoffdt = #{onoffdt} and ipaddr = #{ipaddr}
    </update>

    <select id="TB_CA501list" parameterType="com.actas.cmob.DTO.Themoon.PopDto" resultType="com.actas.cmob.DTO.Themoon.ThemoonListDto">
        select
        ISNULL(phm_pcod, '') as phm_pcod,
        ISNULL(phm_pnam, '') as phm_pnam,
        ISNULL(phm_size, '') as phm_size,
        ISNULL(phm_unit, '') as phm_unit,
        ISNULL(code88, '')   as code88
        from tb_ca501
        where phm_cust = 'THEMOON' and code88 = #{code88}

    </select>

    <!--88041712022341-->

    <select id="Store_Info" parameterType="com.actas.cmob.DTO.Themoon.PopDto" resultType="com.actas.cmob.DTO.Themoon.ThemoonListDto2">
        SELECT ISNULL(TB_FPLAN.wono,'') as wono, ISNULL(TB_FPLAN.lotno,'') as lotno, ISNULL(TB_FPLAN.plan_no,'') as plan_no, ISNULL(TB_FPLAN.cltcd,'') as cltcd,
               ISNULL(TB_XCLIENT.cltnm,'') as cltnm,
               ISNULL(TB_FPLAN.pcode,'') as pcode, ISNULL(TB_FPLAN.pname,'') as pname,
               ISNULL(TB_FPLAN.psize,'') as psize, ISNULL(TB_FPLAN.punit,'') as punit, CONVERT(INT, (TB_FPLAN_WORK.wotqt - TB_FPLAN_WORK.wbdqt)) as wfokqt,
               ISNULL(TB_FPLAN_WORK.wendt,'') as wendt, CONVERT(int ,SUM(TB_FPLAN_WORK.wotqt - TB_FPLAN_WORK.wbdqt) OVER ()) as wfokqt_sum
        FROM
            TB_FPLAN WITH(NOLOCK), TB_FPLAN_WORK WITH(NOLOCK), TB_XCLIENT WITH(NOLOCK), TB_CA501 WITH(NOLOCK)
        WHERE (TB_FPLAN.custcd = TB_FPLAN_WORK.custcd) and (TB_FPLAN.spjangcd = TB_FPLAN_WORK.spjangcd) AND (TB_FPLAN.plan_no = TB_FPLAN_WORK.plan_no)
          AND (TB_FPLAN.cls_flag = '2')
          AND (TB_FPLAN.pcode = #{pcode})
        --  AND (TB_FPLAN.pcode like CONCAT('%','%','%'))
          AND (TB_FPLAN.custcd = TB_XCLIENT.custcd)
          AND (TB_FPLAN.cltcd = TB_XCLIENT.cltcd)
          AND (TB_FPLAN.custcd = TB_CA501.phm_cust)
          AND (TB_FPLAN.pcode = TB_CA501.phm_pcod)
          AND (TB_FPLAN_WORK.custcd = 'THEMOON')
          AND (TB_FPLAN_WORK.spjangcd = 'ZZ')
          AND (TB_FPLAN_WORK.wseq = '01')
          AND (TB_FPLAN_WORK.wflag = '00010')
          AND (TB_FPLAN_WORK.wendt = #{wendt})
          order by tb_fplan.wono, tb_fplan.cltcd
    </select>




    <!--<update id="Update_TB_FPLAN" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
        UPDATE TB_FPLAN SET
        cls_flag = '4',
        close_date = #{item.close_date},
        end_qty = #{item.end_qty},
        close_perid = #{item.perid},
        wflag = '00030',
        wseq = '03',
        decision = '0'
        where custcd = 'THEMOON' AND spjangcd = 'ZZ' AND plan_no = #{item.plan_no}
        </foreach>
    </update>-->
    <update id="Update_TB_FPLAN" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        UPDATE TB_FPLAN SET
        cls_flag = '4',
        close_date = #{close_date},
        end_qty = #{end_qty},
        close_perid = #{close_perid},
        wflag = '00030',
        wseq = '03',
        decision = '0'
        where custcd = 'THEMOON' AND spjangcd = 'ZZ' AND plan_no = #{plan_no}

    </update>


    <insert id="Insert_TB_FPLAN_WORK" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        INSERT INTO TB_FPLAN_WORK (custcd, spjangcd, plan_no, wono, wseq, wflag, wstdt, wendt, wfrdt, wtrdt, wrmc, winqt, wotqt, wqcqt, wbdqt, winps, wsyul,
                                   wtable, wrps, wremark, decision, wexdt, weseq, indate, inperid)
        values (
                'THEMOON', 'ZZ', #{plan_no}, #{wono}, '03', '00030', #{gs_today}, #{gs_today}, #{time}, #{time}, 'TM301',0,#{wotqt}, 0, 0, 1, 0, 'TB_FPLAN_W030',
                #{close_perid}, '', '0', ' ', ' ', #{gs_today}, #{close_perid}
               )
    </insert>


    <insert id="Insert_TB_FPLAN_W030" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        INSERT INTO TB_FPLAN_W030 ( custcd, spjangcd, plan_no, wseq, wflag, wfrdt, wtrdt, wrmc, winqt, wotqt, wqcqt, wbdqt, winps, wsyul, wrps, wremark, wscnt,
                                   bcolor, decision, wexdt, weseq, indate, inperid
                                   )
        values(
               'THEMOON', 'ZZ', #{plan_no}, '03', '00030', #{time}, #{time}, 'TM301', 0, #{wotqt}, 0, 0, 1, 0, #{close_perid}, '', 0, '0', '0', '', '', #{gs_today},
               #{close_perid}

              )

    </insert>


    <!--로그 생성-->
    <insert id="Insert_login_h" parameterType="com.actas.cmob.DTO.Themoon.LoginLogDto">
        INSERT INTO TB_XLOGIN_H ( londt, custcd, spjangcd, userid, winid, buton, ipaddr, usernm, winnm, tbkey )
        VALUES (GETDATE(), 'THEMOON', 'ZZ', #{userid}, #{winid}, #{buton}, #{ipaddr}, #{usernm}, #{winnm}, '')
    </insert>

    <insert id="Insert_tb_fplan_owork" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        INSERT INTO TB_FPLAN_OWORK
        (
            custcd, spjangcd, plan_no, wseq, wflag, seq, pcode, lotno, store, wotdt, wqty, bqty, qty, styn, indate, inperid
        ) VALUES
        (
               'THEMOON', 'ZZ', #{plan_no}, '03', '00030', '001', #{pcode}, #{lotno}, 'P01', #{gs_today}, #{wotqt}, 0, #{wotqt}, '1', #{gs_today}, #{close_perid}
        )
    </insert>


    <insert id="INSERT_TB_FPLAN_WPERID" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        INSERT INTO TB_FPLAN_WPERID
        (
            custcd, spjangcd, plan_no, wseq, wflag, seq, perid, indate, inperid
        )
        VALUES
        (
            'THEMOON', 'ZZ', #{plan_no}, '03', '00030', '01', #{close_perid}, #{gs_today}, #{close_perid}
        )
    </insert>


    <insert id="INSERT_TB_FPLAN_WTIME" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        INSERT INTO TB_FPLAN_WTIME
            (
             custcd, spjangcd, plan_no, wseq, seq, wflag, wfrdt, wtrdt, wopdv, wdtcd, wrerm
            ) values
            (
             'THEMOON', 'ZZ', #{plan_no}, '03', '01', '00030', #{time},
             #{time}, '0', '',''
            )
    </insert>

    <select id="select_time" parameterType="com.actas.cmob.DTO.Themoon.PopDto" resultType="String">
        select CONCAT(#{gs_today},' ',CONVERT(varchar(12), GETDATE(), 114))
    </select>

    <select id="Select_List" parameterType="com.actas.cmob.DTO.Themoon.PopDto" resultType="com.actas.cmob.DTO.Themoon.ThemoonListDto2">
        SELECT ISNULL(TB_FPLAN_WORK.wendt,'') as wendt,
               ISNULL(TB_FPLAN.wono,'') as wono,
               ISNULL(TB_FPLAN.lotno,'') as lotno,
               ISNULL(TB_FPLAN.plan_no,'') as plan_no,
               ISNULL(TB_FPLAN.cltcd,'') as cltcd,
               ISNULL(TB_XCLIENT.cltnm,'') as cltnm,
               ISNULL(TB_FPLAN.pcode,'') as pcode,
               ISNULL(TB_FPLAN_WORK.wflag,'') as wflag,
               ISNULL(TB_FPLAN.pname,'') as pname,
               ISNULL(TB_FPLAN.psize,'') as psize,
               ISNULL(TB_FPLAN.punit,'') as punit,
               CONVERT(int, ISNULL(TB_FPLAN_WORK.wotqt, 0)) as wotqt
        FROM TB_FPLAN WITH(NOLOCK), TB_FPLAN_WORK WITH(NOLOCK), TB_XCLIENT WITH(NOLOCK), TB_CA501 WITH(NOLOCK)
        WHERE (TB_FPLAN.custcd = TB_FPLAN_WORK.custcd) and (TB_FPLAN.spjangcd = TB_FPLAN_WORK.spjangcd) AND (TB_FPLAN.plan_no = TB_FPLAN_WORK.plan_no)
        AND (TB_FPLAN.cls_flag = '4') AND (TB_FPLAN.custcd = TB_XCLIENT.custcd)
        AND (TB_FPLAN.cltcd = TB_XCLIENT.cltcd) AND (TB_FPLAN.custcd = TB_CA501.phm_cust) AND (TB_FPLAN.pcode = TB_CA501.phm_pcod)
        AND (TB_FPLAN_WORK.custcd = 'THEMOON') AND (TB_FPLAN_WORK.spjangcd = 'ZZ') AND (TB_FPLAN_WORK.wseq = '03')
        AND (TB_FPLAN_WORK.wflag = '00030') AND (TB_FPLAN_WORK.wendt = #{gs_today})
        ORDER BY TB_FPLAN.wono, TB_FPLAN.cltcd
    </select>


    <!--입고취소-->
    <update id="Update_tb_fplan" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        UPDATE TB_FPLAN SET cls_flag = '2', close_date = '', end_qty = 0, close_perid = '', wflag = '00010', wseq = '01', decision = '0'
        where custcd = 'THEMOON' and spjangcd = 'ZZ' and plan_no = #{plan_no}
    </update>


    <delete id="delete_tb_fplan_work" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        delete from tb_fplan_work where custcd = 'THEMOON' and spjangcd = 'ZZ'  and plan_no = #{plan_no} and wseq = '03'
    </delete>

    <delete id="delete_tb_fplan_w030" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        delete from tb_fplan_w030 where custcd = 'THEMOON' and spjangcd = 'ZZ' and plan_no = #{plan_no} and wseq = '03'
    </delete>

    <delete id="delete_tb_fplan_owork" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        delete from tb_fplan_owork where custcd = 'THEMOON' and spjangcd = 'ZZ'  and plan_no = #{plan_no} and wseq = '03'
    </delete>

    <delete id="delete_tb_fplan_wperid" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        delete from tb_fplan_wperid where custcd = 'THEMOON' and spjangcd = 'ZZ' and plan_no = #{plan_no} and wseq = '03'
    </delete>

    <delete id="delete_tb_fplan_wtime" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        delete from tb_fplan_wtime where custcd = 'THEMOON' and spjangcd = 'ZZ' and plan_no = #{plan_no} and wseq = '03'
    </delete>



    <!--재고실사-->
    <select id="select_tb_ca630" parameterType="com.actas.cmob.DTO.Themoon.PopDto" resultType="com.actas.cmob.DTO.Themoon.ThemoonListDto2">
        select ISNULL(phm_pcod,'') as pcode, ISNULL(phm_pnam,'') as pname, ISNULL(phm_size,'') as psize, ISNULL(phm_unit,'') as punit, ISNULL(code88,'') as lotno,
        ISNULL(dbo.DF_TB_CA601_ENDDATE('THEMOON', 'ZZ', #{gs_today}, 'P01', phm_pcod),'') as stdate,
        ISNULL(CONVERT(VARCHAR(10) ,dbo.DF_TB_CA602_PCODE_LOTNO_JQTY('THEMOON', 'ZZ', 'P01', phm_pcod, code88, dbo.DF_TB_CA601_ENDDATE('THEMOON', 'ZZ', #{gs_today}, 'P01', phm_pcod), #{gs_today})), '')
        as jaeqty
        from tb_ca501 with(nolock) where phm_cust = 'THEMOON' and code88 = #{code88}
    </select>

    <!--8804712022341-->

    <!--재고량 계산-->
    <select id="select_jaeqty" parameterType="com.actas.cmob.DTO.Themoon.PopDto" resultType="com.actas.cmob.DTO.Themoon.ThemoonListDto2">
        select ISNULL(dbo.df_tb_ca602_pcode_jqty('THEMOON', 'ZZ', 'P01', #{phm_pcode}, #{stdate}, #{gs_today}),'') as jaeqty from dual
    </select>


    <insert id="insert_tb_ca630" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        insert into tb_ca630 (custcd, spjangcd, store, sildate, pcode, lotno, jaeqty, jaeuamt, jaeamt, silqty, siluamt, silamt, banflag, banyn, acc_flag, acc_spdate,
                              acc_spnum, sildv, remarks, indate, inperid) values
                              (
                               'THEMOON', 'ZZ', 'P01', #{gs_today}, #{pcode}, #{lotno}, #{jaeqty}, 0, 0, #{silqty}, 0, 0, '0', '0', '0', '', '', '', '',
                               #{gs_today}, #{gs_perid}
                              )

    </insert>


    <select id="insert_check" parameterType="com.actas.cmob.DTO.Themoon.PopDto" resultType="com.actas.cmob.DTO.Themoon.ThemoonListDto2">
        select sildate, pcode, lotno, indate from tb_ca630 where pcode=#{pcode} and sildate = #{gs_today} and lotno = #{lotno}

    </select>

    <update id="Update_tb_ca630Int" parameterType="com.actas.cmob.DTO.Themoon.PopDto">
        UPDATE tb_ca630 SET custcd = 'THEMOON', spjangcd = 'ZZ', store = 'P01',sildate = #{gs_today}, pcode = #{pcode}, lotno = #{lotno}, jaeqty = #{jaeqty},
                            jaeuamt = '0', jaeamt = '0', silqty = #{silqty}, siluamt = 0, silamt = 0, banflag = '0', banyn = '0', acc_flag = '0', acc_spdate = '',
                            acc_spnum = '', sildv = '', remarks = '', indate = #{gs_today}, inperid = #{gs_perid}  where sildate = #{gs_today} and pcode = #{pcode} and
            lotno = #{lotno}
    </update>

</mapper>
